<h2 class="title">User</h2>

<!-- Panel -->

<div class="dialog clearfix isProcess" id="admin-user">

	<div class="tabs">
		<ul class="tabNav clearfix">
			<li id="results-tab"><a>Results</a></li>
			<li id="details-tab"><a>Details</a></li>
		</ul>
		<!-- /tabNav -->

		<div class="panelContainer clearfix">

			<!-- # BO PANEL Admin.Role Results # -->
			<div id="results" class="tabPanel flex isTask">
				<div class="tableWrapper">

					<table class="gridTable">
						<tr>
							<td class="col4">
								<label>Domain</label>
								<div id="domain" class="wrap isSelect"></div>
							</td>
							<td class="col4">
								<label>Mandator</label>
								<div id="mandator" class="wrap isSelect"></div>
							</td>
							<td class="col4">
								<label>Role</label>
								<div class="wrap">
									<input id="userPattern"/>
								</div>
							</td>
							<td class="col4"></td>
						</tr>
					</table>

					<table class="gridTable">
						<tr>
							<td>
								<div id="users" class="isTable"></div>
							</td>
						</tr>

					</table>


				</div>
				<!-- /tablewrapper -->

				<div class="tabfooter">
					<div class="inner">
						<div class="buttons" id="actions"></div>
						<div id="servicestatus"></div>
					</div>
				</div>
				<!-- /tabfooter -->
			</div>
			<!-- /tabPanel -->

			<!-- # EO PANEL Admin.Role Results # -->

			<!-- # BO PANEL Admin.Role Details # -->
			<div id="details" class="tabPanel flex isTask">
				<div class="tableWrapper">

					<table class="gridTable">
						<tr>
							<td class="col4">
								<label>Domain</label>
								<div id="domain" class="wrap isSelect"></div>
							</td>
							<td class="col4">
								<label>Mandator</label>
								<div id="mandator" class="wrap isSelect"></div>
							</td>
							<td class="col4">
								<label>User</label>
								<div class="wrap">
									<input id="user"/>
								</div>
							</td>
							<td class="col4"></td>
						</tr>

					</table>

					<div id="roles" class="isSwapSelect"></div>

					</table>

				</div>
				<!-- /tablewrapper -->

				<div class="tabfooter">
					<div class="inner">
						<div class="buttons" id="actions"></div>
						<div id="servicestatus"></div>
					</div>
				</div>
				<!-- /tabfooter -->
			</div>
			<!-- /tabPanel -->

			<!-- # EO PANEL Admin.Role Details  # -->


		</div>
		<!-- /panelContainer -->
	</div>
	<!-- /tabs -->
</div><!-- /dialog -->
