<h2 class="title">Roles (0)</h2> 

<div class="dialog isProcess" id="cos-authority-admin-role-roles">
	<div class="tabs">
		<ul class="tabNav clearfix">
			<li id="result-tab"><a>Roles {0}</a></li>
		</ul>
		
		<div class="panelContainer clearfix">
		
<!-- # BO PANEL ROLES # -->
		<div id="result" class="tabPanel flex isTask">

				<div class="tableWrapper">
				
					<table class="gridTable">
						<tr>
							<td id="userRoles" class="isTable"></td>
						</tr>				
					</table>
					
			</div>
		<div class="tabfooter">
			<div class="inner">
				<div class="buttons" id="actions"></div>
				<div id="servicestatus"></div>
			</div>
		</div><!-- /tabfooter -->
		
		</div><!-- /tabPanel -->
<!-- # EO PANEL ROLES # -->	

		</div><!-- /panelContainer -->
	</div><!-- /tabs -->
</div><!-- /dialog -->
