<div>
<!-- # BO MODAL EDIT ROLE # -->
<div class="modal isModal" id="editrole">
				<div class="tableWrapper">
				
					<table class="gridTable">
						<tr>
							<td class="col1">
								<label>Role</label>
								<div class="wrap">
									<input id="roleName" />  
								</div>
							</td>
						</tr>	
						<tr>
							<td class="col1">
								<label>Description</label>
								<div class="wrap">
									<input id="roleDescription" />  
								</div>
							</td>
						</tr>				
					</table>
					
					<table class="gridTable">
						<tr>
							<td class="col2">
								<label>Domains</label>
								<div class="wrap isSelect" id="roleDomains"></div>
							</td>
							<td class="col2">
								<label>Mandators</label>
								<div class="wrap isSelect" id="roleMandators"></div>
							</td>
						</tr>				
					</table>
					
				<div class="isSwapSelect" id="selectedRoles"></div>
								
				</div>

		<div class="tabfooter">
			<div class="inner">
				<div class="buttons" id="actions"></div>
				<div id="servicestatus"></div>
			</div>
		</div><!-- /tabfooter -->
	
</div><!-- /modal -->
<!-- # EO MODAL EDIT ROLE # -->
		

</div>


